* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #288d26;
  overflow: hidden;
}

img {
  width: 4rem;
  position: absolute;
  left: 53rem;
  top: 45rem;
  transition: transform 0.25s;
  overflow: hidden;
}

.racetrack {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(53, 53, 53);
  width: 110rem;
  height: 50rem;
  border-radius: 50rem;
  margin: 3rem;
}

.infield {
  background-color: #288d26;
  width: 85rem;
  height: 25rem;
  border-radius: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 7rem;
  font-weight: bold;
  color: white;
}

.finish-line {
  background-color: white;
  width: 0.25rem;
  height: 12.5rem;
}
